<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Admin Console</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <style type="text/css">
    h6, h1, h5{
      text-align: center;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/home" style="font-size: 30px;">&nbsp;&nbsp;&nbsp;Ticketable</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/venue">Venue Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/show">Show Management</a>
          </li>
        </ul>
      <div class="pull-right">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav><br><br>

<div class="row">
  <div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 17rem; max-height: 8rem; margin: auto; padding: 10px;">
      <div class="card-body">
        <h6 class="card-title text-muted">Total Sales</h6>
        <h1>₹{{total}} </h1>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 17rem; max-height: 8rem; margin: auto; padding: 10px;">
      <div class="card-body">
        <h6 class="card-title text-muted">Highest Selling Movie</h6>
        <h1> {{bestselling}} </h1>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 17rem; max-height: 8rem;margin: auto; padding: 10px;">
      <div class="card-body">
        <h6 class="card-title text-muted">Total Users</h6>
        <h1> {{users}} </h1>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 17rem; max-height: 8rem; margin: auto; padding: 10px;">
      <div class="card-body">
        <h6 class="card-title text-muted">Most Popular Venue</h6>
        <h5> {{popular_venue}} </h5>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-6">
    <img src="../static/images/pie.png" alt="graph" width="400px" style="display: block; margin-left: auto; margin-right: auto; padding: 10px;">
  </div>

  <div class="col-6">
    <img src="../static/images/bar.png" alt="graph" width="350px" style="display: block; margin-left: auto; margin-right: auto;">
  </div>
</div>

<div class="card text-center">
  <div class="card-footer text-muted">
    Contact Us: 21f1001736@ds.study.iitm.ac.in
  </div>
</div>
</body>
</body>
</html>